---
layout: home
---

<header class="bg-black">

  <div class="clearfix border-bottom-thick border-white">
    <ul class="list-reset right py-1 text-white font-smoothing">
      {% for my_page in site.pages %}
        {% if my_page.title %}
        <li class="inline-block"><a class="link-primary mr-2" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="container-lg mx-auto py-1 px-2 mb-2 text-white clearfix">
    <h1 class="h0 inline-block col-9 sm-width-full mt-3 mb-3 text-white">{{ site.title }}</h1>
    <div class="clearfix mb-2 py-3">
      <div class="col-4 sm-width-full left border-top-thin">

        <div class="text-white table">
          <div class="inline-block mr-1">
            {% include blank-red.html %}
          </div>
          <div class="inline-block mr-1">
            {% include blank-red.html %}
          </div>
          <div class="inline-block">
            {% include github.html %}
          </div>
        </div>

        <p class="h4 lh-condensed text-white mt-3 font-smoothing">{{ site.description }}</p>

      </div>

      <div class="col-4 sm-width-full left border-top-thin mt-3 mt-lg-0 ml-lg-4 text-white table">
          <div class="inline-block mr-1">
            {% include blank-white.html %}
          </div>
          <div class="inline-block">
            {% include twitter.html %}
          </div>
      </div>
    </div>

  </div>
</header>


<div class="py-3 px-2">
  {% for post in site.posts %}
    <div class="container-lg py-2 mt-3 mb-3 prose mx-auto">
      <a class="no-underline h5 bold text-red" title="{{ post.url | prepend: site.baseurl }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}</a>
      <h2 class="h1 mt-0">
        <a class="link-primary" title="{{ post.url | prepend: site.baseurl }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      <p class="">{{ post.content | truncatewords:30}}</p>
    </div>
  {% endfor %}
</div>
