<div class="mt-2 mt-lg-4 border-top-thin clearfix">
  <div class="container mx-auto px-2">
    <p class="col-8 sm-width-full left py-2 mb-0">This project is maintained by <a class="text-red" href="{{ site.author }}">{{ site.github_username }}</a></p>
    <ul class="list-reset py-2 sm-width-full right clearfix mb-2 mb-lg-0">
      <li class="inline-block mr-1">
        <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="system">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </li>
      <li class="inline-block">
        <a class="github-button" href="https://github.com/broccolini/system" data-icon="octicon-star" data-count-href="/broccolini/system/stargazers" data-count-api="/repos/broccolini/system#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star broccolini/system on GitHub">Star</a>
      </li>
    </ul>
  </div>
</div>
