@import "variables.scss";

// Styling markdown output
.prose {

  p, ol, ul {
    font-size: 20px;
    margin-bottom: 1em;
    width: 100%;

    @media (min-width: 52em) {
      width: (10 / 12 * 100%);
    }

  }

  ul, ol {
    padding-left: 20px;
  }

  li {
    margin-bottom: 0.5em;

    ul li {
      margin-bottom: 0;
    }
  }

  img {

    max-width: 100%;

    @media (min-width: 52em) {
      max-width: (12 / 10 * 100%);
    }

  }

  blockquote {
    line-height: 1.375;
    padding-left: 20px;
    margin: 40px 0 40px -16px;
    border-left: 8px solid #ddd;
    font-style: italic;

    p {
      font-size: 24px;
    }

    @media (min-width: 52em) {
      padding-left: 32px;
      margin: 64px 0 64px -40px;
      max-width: (11 / 10 * 100%);

      p {
        font-size: 32px;
      }

    }

  }

  dt {
    font-weight: bold;
    font-style: italic;
    line-height: 1.25;
  }

  dd {
    font-style: italic;
    margin-bottom: 0.5em;
  }

  // Tables
  table {
    border-collapse: collapse;
    display: block;
    width: 100%;
    margin-bottom: 1.5em;
    overflow: auto;
    // For Firefox to horizontally scroll wider tables.
    word-break: normal;
    word-break: keep-all;

    th {
      font-weight: bold;
      text-align: left;
    }

    th,
    td {
      padding: 16px 32px 16px 2px;
      border-top: 1px solid #222;
      border-bottom: 1px solid #222;
    }

    tr {
      background-color: #fff;
      border-top: 1px solid #222;
    }

    tr th {
      border-top: 2px solid #222;
      border-bottom: 2px solid #222;
    }
  }

}


// Link styles for social icons
.link-social {
  text-decoration: none;
  font-weight: bold;
  line-height: 1;

  &:hover {
    color: #fff !important;
    text-decoration: none !important;
  }
}

// Link styles for navigation
.link-primary {
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: $red;
    text-decoration: none;
  }
}
