
// Font family
$serif: "Athelas", Georgia, serif;
$sans: "Helvetica Neue", Arial, sans-serif;

// Set heading and body font
$body-font: $serif;
$heading-font: $sans;

// Color variables
$black: #181818;
$red: #e84524;

// Theme color
$primary-color: $black;
$secondary-color: $red;
