
// Font family
$body-font: "Helvetica Neue", Arial, sans-serif;

// Color variables
$black: #181818;
$red: #E74727;
$red-small: #DC3918;
$white: #fff;

// Theme color
$color-primary: $black !default;
$color-accent: $red !default;
$color-reverse: $white !default;
