---
layout: default
---

<body onload="getRepos()">

<article class="container mx-auto px-2 mt2 mb4">
  <header>
    <h1 class="h0 py-4 mt-3">{{ page.title }}</h1>
  </header>
  <div class="col-4 sm-width-full border-top-thin">
  </div>
  <div class="prose mb-4 py-4">
    {{ content }}
    <select onchange="show_page(this.value)">
          <option value="">Alphabetical</option>
          <option value="stars" selected>Stars</option>
   </select>
	  <ul id="show">
        </ul>
  </div>
</article>

<script>
let objectsData = [];
function getRepos(){
    let xhr = new XMLHttpRequest();
    xhr.open("GET","https://api.github.com/users/dunnadan/repos", true);
    xhr.send(null);
    xhr.onreadystatechange = function(){
        if (xhr.readyState === 4 && (xhr.status === 200 || xhr.status === 304)){
          listRepos(xhr.responseText);
        }
        else console.log(xhr.status, objectsData);
    }
}
 
function listRepos(data){
    let parsedData = JSON.parse(data);
    let newUrl = 'cona';
    // Get data from response to an array
    for(let i=0; i < parsedData.length; i++){
        if(parsedData[i].has_pages){
            newUrl = "/"+parsedData[i].name;
        } else {
            newUrl = parsedData[i].html_url;
        }
        let tmp = {
            name: parsedData[i].name,
            isFork: parsedData[i].fork,
            stars: parsedData[i].stargazers_count,
            url: newUrl,
            description: parsedData[i].description
        };
        if(!tmp.isFork || (tmp.isFork && tmp.name == "Nethoven"))
            objectsData.push(tmp);
    }
    for(let i = 0; i<objectsData.length; i++){
        numCommits(objectsData[i].name,i);
    }
    show_page();
}
 
function numCommits(project, indice) {
    let request = new XMLHttpRequest();
    request.open('GET', 'https://api.github.com/repos/dunnadan'+project+'/contributors?anon=true');
    request.send();
    request.onreadystatechange = function(){
        if (request.readyState == 4 && (request.status == 200 || request.status == 304)){
            if(projecto != "dunnadan.github.io"){
                let n = countCommints(JSON.parse(request.responseText));
                objectsData[indice].numComits = n;
                document.getElementById('comits'+project).innerHTML = " #of comits: "+n;
            }
        }
    }
}
function show_page(){
        objectsData.sort(function(a,b){
            let nameA = a.name.toUpperCase(); // ignore upper and lowercase
            let nameB = b.name.toUpperCase(); // ignore upper and lowercase
            if(nameA < nameB) return -1;
            if(nameA >= nameB) return 1;
        });
   
    let ul = document.getElementById('show');
    ul.innerHTML = "";
    for(let i = 0; i < objectsData.length; i++){
        let li = document.createElement('li');
        let a = document.createElement('a');
        a.href = objectsData[i].url;
        li.innerHTML = "[*] " + objectsData[i].name;
        a.appendChild(li);
        ul.appendChild(a);
    }
}
 
function countComits (reponse) {
    let count = 0;
    for(let i = 0; i < response.length; i++) {
        counut += response[i].contributions;
    }
    return count;
}
</script>
